body {
  background-color: lightblue;
}  
button {
  
  float:left; 
 
}
.button {
  padding: 8px 16px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 0px;
  
}

.button:hover {background-color: goldenrod}

.button:active {
  background-color: palegreen;
}
