body {
  background-color: lightblue;
}  
button {
  
  float:left; 
 
}
.button {
  padding: 10px 17px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 0px;
  
}

.button:hover {background-color: yellow}

.button:active {
  background-color: green;
}
